@charset "UTF-8";
/*Preto, Roxo, Azul, Dourado
Dourado: #856b00*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@font-face {
    font-family: 'HP';
    src: url('./hp_fontes/HARRYP__.TTF') format('truetype');
}
@font-face {
    font-family: 'Wizard';
    src: url('./hp_fontes/BluuNext-Bolditalic.otf') format('opentype');
}
:root {
    --cor0: #000000; /*check*/
    --cor1: #0B082E; /*check*/
    --cor2: #120D4B; /*check*/
    --cor3: #2c2c2c6b;/*check*/
    --cor4: #3f108572;/*check*/
    --cor5: #bf9b0c; /*check*/
    --cor6: #6a518d; /*check*/

    --fonte-potter: 'HP','Wizard',Times, serif;
    --fonte-destaque: 'Wizard', cursive;
    --fonte-padrao: Times, Arial, Verdana, Helvetica, serif;
    --fonte-manuscrita:"Great Vibes", cursive;
}

body {
    /*background-image: url(./hp_imagens/background.jpg);*/
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor0));
    background-position: top center;
    font-family: var(--fonte-padrao);
    color: #ffffff;
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0.5px;
}
header > h1 {
    font-family: var(--fonte-potter);
    font-size: 6.4em; 
    font-weight: lighter;
    text-shadow: 8px 7px var(--cor3);
}
header > p {
    font-family: var(--fonte-destaque);
    font-size: 1.6em;
    color: var(--cor5);
    text-shadow: 3px 2px var(--cor3);
}

nav {
    background: var(--cor0);
    text-align: center;
    font-size: 1.2em;
    padding: 12px;
    box-shadow: 0px 7px 9px var(--cor4);
}
nav > a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
}
nav a:hover {
    text-decoration: underline;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
main h2 {
    font-size: 2.2em;
    font-family: var(--fonte-destaque);
    color: var(--cor5);
}
article p {
    text-align: justify;
    text-indent: 25px;
    font-size: 1.35em;
}
main a {
    color: var(--cor5);
    text-decoration: none;
}
main a:hover{
    text-decoration: underline;
    transition: 0.6s;
}
main img {
    /*Como adicionar borda nas imagens?*/
    width: 90%;
    border: var(--cor5);
    display: block;
    margin: auto;
}
/*Para deixar as imagens alinhadas:*/
.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    width: 60%;
    margin: auto;
    padding: 0.7rem;
}
/*Para tornar as imagens responsivas*/
@media (min-width: 768px) {
    .column{
        /*Com 100%/3 a 3ª imagem quebrava, não ficava alinhada*/
        /*Só deu certo com 100%/4*/
        width: calc(100% / 4);
    }
}

#local {
    font-family: var(--fonte-manuscrita);
    color: var(--cor5);
    display: block;
    text-align: justify;
    font-size: 1.3em;
}

aside {
    background-color: var(--cor0);
    color: var(--cor5);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.4em; 
}
aside ul {
    font-size: 0.7em;
}
aside a:hover {
    background-color: var(--cor6);
    border-radius: 5px;
    color: #ffffff;
    padding: 3px;
}

footer {
    text-align: center;
    font-size: 0.9em;
    font-family: var(--fonte-destaque);
}
footer a {
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}