@charset "UTF-8";
/*Preto, Roxo, Azul, Dourado
Dourado: #856b00*/
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@font-face {
    font-family: 'HP';
    src: url('./hp_fontes/HARRYP__.TTF') format('truetype');
}
@font-face {
    font-family: 'Wizard';
    src: url('./hp_fontes/BluuNext-Bolditalic.otf') format('opentype');
}
:root {
    --cor0: #000000; /*check*/
    --cor1: #0B082E; /*check*/
    --cor2: #120D4B; /*check*/
    --cor3: #191268;
    --cor4: #3f1085;
    --cor5: #bf9b0c; /*check*/
    --cor6: #6a518d;

    --fonte-potter: 'HP',Times, serif;
    --fonte-destaque: "Wizard", cursive;
    --fonte-padrao: Times, Arial, Verdana, Helvetica, serif;
    --fonte-manuscrita:"Great Vibes", cursive;
}

body {
    /*background-image: url(./hp_imagens/background.jpg);*/
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor0));
    background-position: top center;
    font-family: var(--fonte-padrao);
    color: #ffffff;
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0.5px;
}
header > h1 {
    font-family: var(--fonte-potter);
    font-size: 6.2em; 
}
header > p {
    font-family: var(--fonte-destaque);
    font-size: 1.6em;
    color: var(--cor5);
}

nav {
    background: var(--cor0);
    text-align: center;
    font-size: 1.5em;
    padding: 12px;
}
nav > a {
    text-decoration: none;
    color: #ffffff;
}
nav a:hover {
    text-decoration: underline;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto
}
main h2 {
    font-size: 2.5em;
    font-family: var(--fonte-destaque);
    color: var(--cor5);
}
article p {
    text-align: justify;
    text-indent: 25px;
    font-size: 1.6em;
}
main a {
    color: var(--cor5);
    text-decoration: none;
}
main a:hover{
    text-decoration: underline;
    transition: 0.6s;
}
main img {
    /*Como adicionar borda nas imagens?*/
    /*Como colocar uma imagem ao lado da outra?*/
    width: 100%;
    border: var(--cor5);
    display: block;
    margin: auto;
}
.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 12px;
}

#local {
    font-family: var(--fonte-manuscrita);
    color: var(--cor5);
    display: block;
    text-align: justify;
    font-size: 1.8em;
}

aside {
    background-color: var(--cor0);
    color: var(--cor5);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 2em; 
}

aside p {
    font-size: 1.7em;
}