@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #120D4B;
    /*color: #036603b5;*/
    box-sizing: border-box;
}

body {
    background-image: url(../img/ceu.jpg);
    background-position: center;
    background-size: cover;
    /*background-repeat: no-repeat;*/
}

button {
    background-color: #892be255;
    color: #120D4B;
    border: 2px solid #892be2a8;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer; /*Mostra a mão quando passa o mouse em cima*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
button i {
    /*color: #892be2;*/
    font-weight: bold;
    pointer-events: none; /*para que, quando clicar no ícone, ter a mesma funcionalidade do botão*/
}
button:hover {
    background-color: #892be2;
    color:#ffffff;
}
button:hover > i {
    color:#ffffff;
}

input, select {
    padding: 0.25rem 0.5rem;
}

.hide{
    /*para esconder o form de edição*/
    display: none;
}

/*To Do  Header*/
.todo-container {
    background-color: #291cba67;
    max-width: 450px;
    margin: 3rem auto;
    padding: 1.5rem;
    border-radius: 15px;
}
.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #0044ffd9;
}

/*To Do Form*/
#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #0044ffd9;
}
#todo-form p, #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}
.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/*To Do Tool Bar*/
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #0044ffd9;
    display: flex;
}
#toolbar h4 {
    margin-bottom: 0.5rem;
}

#search {
    border-right: 1px solid #0044ffd9;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}
#search form {
    display: flex;
}
#search input {
    width: 100%;
    margin-right: 0.3rem;

}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}
#filter select {
    flex: 1;
}

/*To Do List*/

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #0044ffd9;
    transition: 0.3s;
}
.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}
.todo button {
    margin-left: 0.4rem;
}

.done {
    background-color: #7fffd474;
}
.done h3 {
    color: #770039;
    text-decoration: line-through;
    font-style: italic;
}