@charset "UTF-8";

body {
    background-color: darkolivegreen;
    color: white;
}

.output {
    font-weight: bold;
}

#payment {
    text-decoration: underline;
}

#graph {
    border: solid black 1px;
}

th, td {
    vertical-align: top;
}